.about {
    overflow: hidden;

    &__inner {
        display: flex;
        justify-content: space-between;
        column-gap: 90px;
        padding-bottom: 10px;
    }

    &__left {
        max-width: 858px;
        padding: 180px 0 0 129px;
    }

    &__title {
        font-size: 6.4rem;
        line-height: 8.6rem;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 35px;
    }

    &__right {
        max-width: 658px;
        height: 934px;
        padding: 81px 87px 208px 40px;
    }

    &__text-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        column-gap: 45px;
        width: 536px;
        margin-top: 215px;
        margin-bottom: 31px;
    }

    &__text-1 {
        width: 213px;
        height: 112px;
        @extend %text;  
    }

    &__text-2 {
        width: 278px;
        height: auto;
        @extend %text;
        margin-top: 39px; 
    }

    &__text-3 {
        width: 418px;
        height: auto;
        @extend %text;
    }

    &__bell {
        position: absolute;
        top: -83px;
        left: -90px;
        width: 109px;
        height: 114px;
        background: url(./assets/img/bell.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__comment {
        position: absolute;
        top: -93px;
        left: 257px;
        width: 125px;
        height: 94px;
        background: url(./assets/img/comments.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__louder {
        position: absolute;
        bottom: -262px;
        right: -23px;
        width: 187px;
        height: 185px;
        background: url(./assets/img/loud1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__like {
        position: absolute;
        bottom: -333px;
        left: -7px;
        width: 113px;
        height: 100px;
        background: url(./assets/img/about-like.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__circle {
        position: absolute;
        top: -293px;
        left: -238px;
        width: 933px;
        height: 933px;
        background: url(./assets/img/round-bordered-big.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
}