.location {
    padding: 258px 0 100px;

    &__inner {
        display: flex;
        justify-content: space-between;
        column-gap: 90px;
    }

    &__left {
        position: relative;
        max-width: 683px;
        padding: 28px 39px 0 74px;
    }

    &__planet {
        display: block;
        max-width: 100%;
    }

    &__russia {
        position: absolute;
        top: 0;
        right: 0;
        padding: 27px 40px;
        background: radial-gradient(110.31% 293.45% at 86.91% 13.4%, #FBD748 0%, rgba(251, 215, 72, 0) 100%), rgba(251, 215, 72, 0.3);
        border-radius: 20px;
        font-weight: bold;
        font-size: 3.4rem;
        line-height: 4.4rem;
        
    }

    &__sng {
        position: absolute;
        top: 330px;
        left: 0;
        padding: 27px 40px;
        background: radial-gradient(121.65% 316.97% at 10.52% 84.54%, #15B68E 0%, rgba(147, 231, 54, 0) 100%), linear-gradient(78.55deg, rgba(147, 231, 54, 0.3) -2.26%, rgba(147, 231, 54, 0) 105.67%);
        border-radius: 20px;
        font-weight: bold;
        font-size: 3.4rem;
        line-height: 4.4rem;
        text-transform: capitalize;
    }

    &__right {
        padding-top: 125px;
    }

    &__title {
        max-width: 673px;
        margin-bottom: 30px;
        font-size: 3.4rem;
        line-height: 4.4rem;
    }

    &__subtitle-wrapper{
        display: flex;
    }

    &__subtitle-gradient {
            width: 6px;
            min-height: 100%;
            background: linear-gradient(180deg, rgb(19, 161, 108), rgb(147, 231, 54), rgb(255, 255, 255));
            border-radius: 5px;
    }

    &__subtitle {
        max-width: 467px;
        font-size: 2.4rem;
        line-height: 3rem;
        margin-left: 21px;
    }
}